# Arquivos de Log e de Build
*.log
logs/

# Dependências do Node.js (Frontend)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Arquivos de build do React (Vite)
dist/
dist-ssr/
.vite/

# Arquivos de Build do Java/Maven (Backend)
target/
*.jar
*.war

# Arquivos de IDE
.idea/
*.iml
.vscode/
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/launch.json

# Arquivos de Sistema Operacional
.DS_Store
Thumbs.db